
      <section id="social-media">
        <a href="https://github.com/skbhagat0502" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/sandeep-bhagat-257a26231/"
        target="_blank"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
      <a
        href="https://www.instagram.com/sandeepbhagat996/"
        target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.youtube.com/@smashcoder" target="_blank"
        ><i class="fa-brands fa-youtube"></i
      ></a>
      </section>
  <div id="footer">
    <div class="footer-div">
      <h1 class="footer-brand">Smash Coder</h1>
      <p>copyright © 2023 Smash Coder</p>
    </div>
    <div class="footer-div">
      <p>Designed and developed by</p>
      <p class="my-info">Sandeep Kumar Bhagat</p>
    </div>
  </div>
</div>
</html>
<script src="/index.js"></script>
</body>