
      <section id="social-media">
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </section>
  <div id="footer">
    <div class="footer-div">
      <h1 class="footer-brand">RA1 FACT</h1>
      <p>copyright © 2023 RA1 FACT</p>
    </div>
    <div class="footer-div">
      <p>Designed and developed by</p>
      <p class="my-info">Sandeep Kumar Bhagat<i class="fa-brands fa-linkedin-in"></i></p>
    </div>
  </div>
</div>
<script src="/index.js"></script>
</html>
</body>