<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RA1 FACT</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/6bc7e0b7f0.js"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap Style Sheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- About us css -->
    <link rel="stylesheet" href="/css/about.css" />
    <!-- contact me css -->
    <link rel="stylesheet" href="/css/contact.css" />
    <!-- blog page css -->
    <link rel="stylesheet" href="/css/blog.css" />
    <!--compose yt page css  -->
    <link rel="stylesheet" href="/css/composeyt.css" />
    <!-- compose blog page css -->
    <link rel="stylesheet" href="/css/composeblogs.css" />
    <!-- github readme css -->
    <link
      rel="stylesheet"
      href="/css/github-markdown-css/github-markdown-light.css"
    />
    <link
      rel="stylesheet"
      href="/css/github-markdown-css/github-markdown-dark.css"
    />
    <link
      rel="stylesheet"
      href="/css/github-markdown-css/github-markdown.css"
    />
  </head>
  <body>
    <header id="header">
      <main>
        <nav id="main-nav">
          <!-- hambuger -->
          <div id="hamburger">
            <div class="dot-line-1">
              <div class="line line-1"></div>
              <div class="line line-2"></div>
            </div>
            <div class="dot-line-2">
              <div class="line line-3"></div>
              <div class="line line-4"></div>
            </div>
            <div class="dot-line-3">
              <div class="line line-5"></div>
              <div class="line line-6"></div>
            </div>
          </div>
          <!-- hamburger end -->
          <div class="navbar-brand">
            <h1>Smash Coder</h1>
          </div>
          <div class="navbar-item-list">
            <ul class="nav-list">
              <li class="navlinks"><a href="../home">Home</a></li>
              <!-- <li class="navlinks"><a href="../About">About</a></li> -->
              <li class="navlinks"><a href="../blogs">Blog</a></li>
              <li class="navlinks"><a href="../contact">Contact</a></li>
            </ul>
          </div>
          <ul id="mobile-nav-social-icons">
            <a href="https://github.com/skbhagat0502" target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/sandeep-bhagat-257a26231/"
              target="_blank"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
            <a
              href="https://www.instagram.com/sandeepbhagat996/"
              target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://www.youtube.com/@smashcoder" target="_blank"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </ul>
        </nav>
      </main>
    </header>
  </body>
</html>
