<%- include("partials/header"); -%>
<div class="about-content">
    <h1>Who we are?</h1>  
    <img src="Images/youtube.jpg" alt="Youtube">
    <h1>RA1 FACT</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsum, quibusdam, voluptatibus quas fuga architecto libero autem aspernatur corporis tenetur harum, beatae hic aliquam voluptates blanditiis assumenda molestiae. Itaque id mollitia beatae possimus. Ullam fuga delectus tempora! Dolor ea soluta ipsam quibusdam animi eveniet. Quasi deleniti illo iste ut facere reprehenderit accusantium id nostrum dignissimos, ea, at expedita consequatur explicabo quia totam fugiat quibusdam? Minima odio, quos, ex quas nisi voluptas ut, possimus consequuntur fuga nulla doloremque repellendus pariatur aliquam dolore tempora alias sint? Cumque neque animi dolorem harum maxime doloribus enim ducimus veritatis, iste quis, praesentium tenetur voluptate dolor.</p>
</div>
<%- include("partials/footer"); -%>