<%- include("partials/header"); -%>
<div class="heading">
    <h2>Our Recent Blogs</h2>
    <div class="input">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" placeholder="search here..." spellcheck="false">
    </div>
</div>
<div id="blogs">
    <h3>Heading of the blog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor itaque quis id aliquam sapiente natus laboriosam qui? Quisquam, officia iste veniam ab voluptatum sed minus doloribus. Consequatur maiores ratione distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptates placeat exercitationem, sapiente facere beatae nostrum, reiciendis necessitatibus quibusdam debitis ea, culpa ipsam? Fugiat nam quae atque, repellat libero quaerat.</p>
</div>
<div id="blogs">
    <h3>Heading of the blog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor itaque quis id aliquam sapiente natus laboriosam qui? Quisquam, officia iste veniam ab voluptatum sed minus doloribus. Consequatur maiores ratione distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptates placeat exercitationem, sapiente facere beatae nostrum, reiciendis necessitatibus quibusdam debitis ea, culpa ipsam? Fugiat nam quae atque, repellat libero quaerat.</p>
</div>
<div id="blogs">
    <h3>Heading of the blog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor itaque quis id aliquam sapiente natus laboriosam qui? Quisquam, officia iste veniam ab voluptatum sed minus doloribus. Consequatur maiores ratione distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptates placeat exercitationem, sapiente facere beatae nostrum, reiciendis necessitatibus quibusdam debitis ea, culpa ipsam? Fugiat nam quae atque, repellat libero quaerat.</p>
</div>
<div id="blogs">
    <h3>Heading of the blog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor itaque quis id aliquam sapiente natus laboriosam qui? Quisquam, officia iste veniam ab voluptatum sed minus doloribus. Consequatur maiores ratione distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptates placeat exercitationem, sapiente facere beatae nostrum, reiciendis necessitatibus quibusdam debitis ea, culpa ipsam? Fugiat nam quae atque, repellat libero quaerat.</p>
</div>
<div id="blogs">
    <h3>Heading of the blog</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor itaque quis id aliquam sapiente natus laboriosam qui? Quisquam, officia iste veniam ab voluptatum sed minus doloribus. Consequatur maiores ratione distinctio Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptates placeat exercitationem, sapiente facere beatae nostrum, reiciendis necessitatibus quibusdam debitis ea, culpa ipsam? Fugiat nam quae atque, repellat libero quaerat.</p>
</div>
<%- include("partials/footer"); -%>