<%- include("partials/header"); -%>
<h1>Sorry! We have no opening currently.</h1> 
<p>Kindly fill the form so that we can contact you later if there will be some openings for you.</p>
<%- include("partials/footer"); -%>