<%- include("partials/header"); -%>
<div id="compose">
<div class="compose">
<h2 class="compose-heading">Compose your YouTute post</h2>
<form class="compose-form" action="/compose" method="post" enctype="multipart/form-data">
    <label class="label" for="file">Upload your file</label>
    <input class="input" type="file" name="thumbnail" accept="image/png, image/jpeg, image/jpg">
    <label class="label" for="heading">Enter heading</label>
    <input class="input" type="text" placeholder="your Heading goes here..." name="heading">
    <label class="label" for="description">Enter description</label>
    <textarea class="input" name="description" id="description" cols="30" rows="10" placeholder="Your description goes here..." name="description"></textarea>
    <button type="submit">Upload</button>
</form>
</div> 
<div class="compose">
    <h2 class="compose-heading">Compose your Blogs</h2>
    <form class="compose-form" action="/compose" method="post">
        <label class="label" for="file">Upload your file</label>
        <input class="input" type="file">
        <label class="label" for="heading">Enter heading</label>
        <input class="input" type="text" placeholder="your Heading goes here...">
        <label class="label" for="description">Enter description</label>
        <textarea class="input" name="description" id="description" cols="30" rows="10" placeholder="Your description goes here..."></textarea>
        <button>Upload</button>
    </form>
    </div>
</div>
<%- include("partials/footer"); -%>