<%- include("partials/header"); -%>
<div id="contact">
  <h2>Contact Us</h2>
  <p>smashcoder.com</p>
  <p>Please fill the form and we will get back to you as soon as possible.</p>
  <form
    action="https://formsubmit.co/pandadeveloper.official@gmail.com"
    method="POST"
    class="contact-me-form"
  >
    <!-- Honeypot -->
    <input type="text" name="_honey" style="display: none" />
    <!-- Disable Captcha
    <input type="hidden" name="_captcha" value="false" /> -->
    <input
      type="hidden"
      name="_autoresponse"
      value="Thanks for reaching to us. We will contact you soon.!!!!"
    />
    <input type="hidden" name="_subject" value="New Contact Form submission!" />
    <label class="label" for="first-name">First Name</label>
    <input
      type="text"
      id="firstName"
      placeholder="First Name"
      autocomplete="off"
      name="First&nbsp;Name"
      required
    />
    <label class="label" for="last name">Last Name</label>
    <input
      type="text"
      id="secondName"
      placeholder="Last Name"
      autocomplete="off"
      name="Last&nbsp;Name"
      required
    />
    <label class="label" for="email">Email</label>
    <input
      type="email"
      name="Email"
      id="email"
      autocomplete="off"
      placeholder="Email Address"
      required
    />
    <input type="hidden" name="_template" value="table" />
    <label class="label" for="message">Phone Number</label>
    <input
      type="text"
      id="PhoneNumber"
      placeholder="Phone Number"
      name="Phone"
      autocomplete="off"
    />
    <label class="label" for="message">Your message</label>
    <textarea
      name="message"
      id="message-box"
      cols="30"
      rows="10"
      placeholder="Your message..."
      spellcheck="false"
      name="Message"
      required
      autocomplete="off"
    ></textarea>
    <button type="submit">Send</button>
  </form>
</div>
<%- include("partials/footer"); -%>
