.markdown-body {
    padding: 45px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
div#blogs{
    margin: 3rem !important;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}
a#readMore{
    background:none;
    border: none;
    font-family: var(--secondry-font);
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    color:rgb(26, 26, 128);
    text-decoration: none;
}
@media screen and (max-width:776px) {
    .markdown-body {
        padding: 20px;
    }
}
