h2 {
    font-size: calc(2rem + 0.6667vw);
    font-family: var(--primary-font);
    text-align: center;
    margin: 10rem 2rem 5rem;
}

div#blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    background-color: #ccc;
    flex-direction: column;
    margin: 1rem 4vw 2rem;
}

div#blogs h3 {
    font-size: calc(1.5rem + 0.6667vw);
    font-family: var(--primary-font);
    font-weight: 700;
    padding: 2rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

div#blogs p {
    font-size: calc(1rem + 0.6667vw);
    font-family: var(--secondry-font);
}