.work {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work h2 {
  text-align: center;
}
.work input {
  height: 4rem;
  border-radius: 10px;
  padding: 2rem 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: var(--primary-font);
  text-align: center;
  width: calc(20rem + 20 * 0.6667vw);
}
.work button {
  background-color: var(--secondry-color);
  margin: 2rem auto;
  height: 4rem;
  color: var(--primary-color);
  font-size: 2rem;
  font-family: var(--secondry-font);
  padding: auto 2rem;
  border-radius: 5px;
  width: 40rem;
  width: calc(20rem + 20 * 0.6667vw);
}
